footer{display:table;padding-bottom:30px;width:100%}
.social{margin:0 auto;display:table;display:table}
.social li{float:left;padding:0 10px}
.social li a{color:#002e5b;transition:all .5s ease 0s}
.social li a:hover{color:#fde428;transition:all .5s ease 0s}