
body
{
  background:url('https://s-media-cache-ak0.pinimg.com/736x/f4/ac/6a/f4ac6aac3afb587f6cae04155656fca3.jpg');
}


.servicesinfo {
  display:table; 
  margin-bottom:60px; 
  max-width:1000px;
}
.servicesinfo .textHeader {
  font-size:18px; 
  font-weight:500; 
  color:#002e5b; 
  border-bottom:1px solid #fde428; 
  display:table; 
  padding-bottom:10px; 
  margin-bottom:10px;
}
.servicesinfo .text {
  font-size:14px; 
  line-height:22px; 
  color:#202020; 
  text-align:justify;
}



.content
{
  height:100%;
  width:500px;
}

























/* 

p
{
  font-family: 'Open Sans Condensed', sans-serif;
}

.newCustomer
{
  font-family: 'Tahoma, Geneva, sans-serif';
  font-size: large;
  margin: auto;
  width: 50%;
  border: none;
  padding: 10px;
  
}


.contentHead
{
  font-family: 'Open Sans Condensed', sans-serif;
  font-size:60px;
  font-weight:500;
  text-decoration:underline;
}

sup
{
  font-family: 'Open Sans Condensed', sans-serif;
  font-style: italic;
  font-size:smaller;
}

span
{
  color:pink;
} */












